#recipe-title{
  margin-top: 0px;
  padding-top: 0.5rem;
}
#topo {
  padding-bottom: 1rem;
}
/* Imagem + título */
.recipe-media h1{
  font-family:"Playfair Display", serif;
  font-size:2rem;
  margin-top: 0px;
  margin-bottom:1rem;
  color:var(--text);
}

.recipe-media img{
  width:100%;
  border-radius:12px;
  box-shadow: var(--shadow);
}

/* Conteúdo da receita */
.recipe-content{
  background:#f1e0cf;
  padding-top: 10rem;
  padding: 1.5rem;
  box-shadow: var(--shadow);
}

.recipe-actions{
  display:flex;
  gap:1rem;
  margin: 1.5rem 0 0 0;
}

.media-produto img{
  margin-top: 1rem;
  margin-bottom: 1rem;
  width:100%;
  border-radius:12px;
  box-shadow: var(--shadow);
}

#btnShare{
  background-color: #d99a6c;
}

.ListaRecipe{
  margin: 0px;
  padding-left: 1rem;
  line-height: 2rem;
  font-size: 1rem;
  text-align: justify;
}

.site-footer{
  padding: 0rem;
  background-color: #edcab1;
}

/* Mobile */
@media (max-width: 768px){
  .recipe-layout{
    padding-top: 0px;
    grid-template-columns: 1fr;
    gap:1rem;
  }
  .recipe-media h1{
    margin-top: 1rem;
    text-align:center;
  }

  .recipe-content{
    margin-top: 0rem;
    padding-top: 0px;
  }

.TituloReceita{
  padding: 0px;
  margin: 0.5rem 0 0 0;
}

}
