#recipe-title{
  margin-top: 0px;
  padding-top: 0.5rem;
}
#topo {
  padding-bottom: 1.5rem;
}

/* Imagem + título */
.recipe-media h1{
  font-family:"Playfair Display", serif;
  font-size:2rem;
  margin-top: 0px;
  margin-bottom:1rem;
  color:var(--text);
}

.recipe-media img{
  width:100%;
  border-radius:12px;
  box-shadow: var(--shadow);
}

.TituloReceita{
  margin-top: 1.5rem;
}

/* Conteúdo da receita */
.recipe-content{
  background:#fff;
  padding-top: 10rem;
  padding: 1.5rem;
  box-shadow: var(--shadow);
}
.recipe-actions{
  display:flex;
  gap:1rem;
  margin: 1.5rem 0 0 0;
}

.media-produto01 img{
  margin-top: 1rem;
  margin-bottom: 1rem;
  width:100%;
  height: 100%;
  border-radius:12px;
  box-shadow: var(--shadow);
}

#btnShare{
  background-color: #fff2e9;
}

.ListaRecipe{
  margin: 0px;
  padding-left: 1rem;
  font-size: 1rem;
  text-align: justify;
}
.ListaRecipe > li {
  margin: 0.6rem 0.5rem;
}
.site-footer{
  padding: 0rem;
}

/* Mobile */
@media (max-width: 640px){
  .recipe-media h1{
    margin-top: 1rem;
    text-align:center;
  }

  .recipe-content{
    margin-top: 0rem;
    padding-top: 0px;
  }

.TituloReceita{
  padding: 0px;
  margin: 0.5rem 0 0 0;
}

}
@media screen and (min-width: 641px) and (max-width: 900px){
  #topo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1rem;
  }
  #recipe-title{margin: 0px; padding-top: 0px;}
  .TituloReceita{margin: 0px;}
}