.recipe-layout{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:2rem;
  padding:2rem 1;
  align-items:flex-start;
}

/* Imagem + título */
.recipe-media h1{
  font-family:"Playfair Display", serif;
  font-size:2rem;
  margin-bottom:1rem;
  color:var(--text);
}

.recipe-media img{
  width:100%;
  border-radius:12px;
  box-shadow: var(--shadow);
}

/* Conteúdo da receita */
.recipe-content{
  margin-top: 5rem;
  background:#fff;
  padding: 1.5rem;
  border-radius:12px;
  box-shadow: var(--shadow);
}

.recipe-actions{
  display:flex;
  gap:.75rem;
  margin: 1.5rem 0 0 0;
}

.recipe-text{
  color:var(--muted);
  font-size:.95rem;
}

.ListaRecipe{
  margin: 0px;
  line-height: 2rem;
}

/* Mobile */
@media (max-width: 768px){
  .recipe-layout{
    padding-top: 0px;
    grid-template-columns: 1fr;
  }

  .recipe-media h1{
    text-align:center;
  }
  .recipe-content{
    margin-top: 0rem;
    padding-top: 0px;
  }
.TituloReceita{
  padding: 0px;
  margin: 0px;
}
}
